.App {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.table th,
.table td {
  padding: 5px !important;
  min-width: 30px;
  margin: 0 !important;
  font-size: 13px;
}

.table td svg {
  font-size: 14px;
}
